nav {
  width: 100%;
  background: #962acd; }
  nav ul {
    list-style: none;
    padding: 20px 0; }
  nav li {
    color: red;
    margin: 0 20px;
    font-family: "Lucida Grande";
    font-size: 1.2rem;
    font-weight: bold; }
  nav a {
    color: #ffa; }
    nav a:hover {
      color: #faf; }
