$width: 100%;
$font-size: 1.2rem;
$font-family: "Lucida Grande";
$background: #962acd;
$color: #fff;
$border-style: solid 1px $color;

nav {
  width: $width;
  background: $background;

  ul {
    list-style: none;
    padding: 20px 0;
  }

  li {
    color: red;
    margin: 0 20px;
    font: {
      family: $font-family;
      size: $font-size;
      weight: bold;
    }
  }

  a {
    color: #ffa;

    &:hover {
      color: #faf;
    }
  }
}
